<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="jp.android.SOS" android:versionCode="9" android:versionName="1.8">
    <application android:label="@string/app_name" android:icon="@drawable/sos" android:debuggable="true">
        <activity android:name=".SOSMain"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    <receiver android:name="SOSWidget" android:label="SOS"><intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"></action>
</intent-filter>
<meta-data android:name="android.appwidget.provider" android:resource="@xml/soswidget"></meta-data>
</receiver>
<service android:name="SOSService"><intent-filter><action android:name="AppWidgetService.ACTION_BTNCLICK"></action>
</intent-filter>
</service>

</application>
    <uses-sdk android:minSdkVersion="7" />

<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
</manifest> 